<!DOCTYPE html>
<html>
    <head>
        <title>{host} - no bs pastebin</title>
        <meta name="description" content="{host} - no bs command line pastebin">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css">
        <style>
            body {{
                color: #f4f4f4;
                background: #0b0b0b;
            }}
            pre {{
                font-family: 'IBM Plex Mono', monospace;
                font-size: 1em;
                max-width: 73ch;
                margin: 0 auto;
            }}
        </style>
        <script nonce="{nonce}">
            document.addEventListener('paste', async (event) => {{
                const preElement = document.querySelector('pre');
                const responses = await Promise.all([...event.clipboardData.items]
                    .filter(item => item.kind === 'file' || item.kind === 'string')
                    .map(async item => {{
                        const file = item.getAsFile();
                        const uploadUrl = `/${{file.name}}`;
                        try {{
                            const response = await fetch(uploadUrl, {{
                                method: 'PUT',
                                body: file
                            }});
                            const responseBody = await response.text();
                            return response.ok
                                ? `<a href="${{responseBody}}" target="_blank">${{responseBody}}</a>`
                                : `Failed to upload "${{file.name}}": ${{response.statusText}}`;
                        }} catch (error) {{
                            return `Error uploading "${{file.name}}": ${{error.message}}`;
                        }}
                    }})
                );
                preElement.innerHTML = responses.join('\n');
            }});
        </script>
    </head>
    <body>
        <pre>{body}</pre>
    </body>
</html>
