<!DOCTYPE html>
<html>
    <head>
        <title>{host} - no bs pastebin</title>
        <meta name="description" content="{host} - no bs command line pastebin">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css">
        <style>
            body {{
                color: #f4f4f4;
                background: #0b0b0b;
            }}
            pre {{
                font-family: 'IBM Plex Mono', monospace;
                font-size: 1em;
                max-width: 73ch;
                margin: 0 auto;
            }}
        </style>
    </head>
    <body>
        <pre>{body}</pre>
    </body>
</html>
